<div class="container-fluid">
  <div class="row r1">
    <div class="HeaderName">
      <h1>New Santosh Medical <label class="plus"> + </label></h1>
      <p>
        Kharadi , Pune 411014.
      </p>
    </div>

  </div>
  <div class="row r2">
    <div class="col-lg-6 col-md-6 col-sm-6 c1">
      <form id="formpos">
        <div class="mb-3">
          <label for="Item" class="form-label">Item Name :</label>
          <input type="text" class="form-control" id="Item" aria-describedby="ItemName">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Qty :</label>
          <input type="text" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="Rate" class="form-label">Rate (if Manual) :</label>
          <input type="text" class="form-control" id="Rate" aria-describedby="Rate">
        </div>
        <div class="mb-3">
          <label for="Discount" class="form-label">Discount :</label>
          <input type="text" class="form-control" id="Discount" aria-describedby="Discount">
        </div>
        <label for="Payment Mode" class="form-label mb-3">Payment Mode :</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            Online
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
          <label class="form-check-label" for="flexRadioDefault2">
            Cash
          </label>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 "><button type="submit"
              class="btn btn-primary Preview">Preview</button>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 "><button type="submit" class="btn btn-primary Print">Print</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 c2">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Sr</th>
            <th scope="col">Item</th>
            <th scope="col">Qty</th>
            <th scope="col">Rate</th>
            <th scope="col">Amount</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <td>Prod 1</td>
            <td>1</td>
            <td>80.00</td>
            <td>80.00</td>
            <td><a href="#"><img src="../assets/pen.svg" /></a></td>
            <td><a href="#"><img src="../assets/trash.svg" /></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row r3"></div>
</div>
