<div class="container-fluid">
  <div class="row r1">
    <div class="HeaderName">
      <h1>New Santosh Medical <label class="plus"> + </label></h1>
      <p>
        Kharadi , Pune 411014.
      </p>
    </div>

  </div>
  <div class="row r2">
    <div class="col-lg-6 col-md-6 col-sm-6 c1">
      <form [formGroup]="FormData" id="formpos">
        <div class="mb-3">
          <label for="item" class="form-label">Item Name :</label>
          <input type="text" class="form-control" formControlName="item">
        </div>
        <div class="mb-3">
          <label for="qty" class="form-label">Qty :</label>
          <input type="text" class="form-control" formControlName="qty">
        </div>
        <div class="mb-3">
          <label for="rate" class="form-label">Rate (if Manual) :</label>
          <input type="text" class="form-control" formControlName="rate">
        </div>
        <div class="mb-3">
          <label for="discount" class="form-label">Discount :</label>
          <input type="text" class="form-control" formControlName="discount">
        </div>
        <label for="Mode" class="form-label mb-3">Payment Mode :</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="Online" formControlName="mode" value="Online">
          <label class="form-check-label" for="Online">
            Online
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="Cash" formControlName="mode" value="Cash" checked>
          <label class="form-check-label" for="Cash">
            Cash
          </label>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 "><button class="btn btn-primary Preview" (click)="Add()">Add</button>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6">
            <button type="button" class="btn btn-primary Print" (click)="onPreview()">Preview</button>
            <div class="card" id="print-index-invoice" style="width: 1000px ; margin-left: -130px;" [hidden]="key">
              <div class="printoutname HeaderName">
                <h1>New Santosh Medical <label class="printoutname"> + </label></h1>
                <p>
                  Kharadi , Pune 411014.
                </p>
              </div>
              <div style="height: 490px; overflow: auto">
                <table class="table table-responsive{-sm|-md|-lg|-xl|-xxl} table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Sr</th>
                      <th scope="col">Item</th>
                      <th scope="col">Qty</th>
                      <th scope="col">Rate</th>
                      <th scope="col">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of Datalist ; let i = index">
                      <th>{{i+1}}</th>
                      <td>{{data.item}}</td>
                      <td>{{data.qty}}</td>
                      <td>{{data.rate}}</td>
                      <td>{{data.discount}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer">
                <button type="button" class="btn btn-success printout1" (click)="print()">Print</button>
                <button type="button" class="btn btn-danger printout2" (click)="Close()">Close</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 c2" style="height: 898px; overflow: auto">
      <table class="table table-responsive{-sm|-md|-lg|-xl|-xxl} table-hover">
        <thead>
          <tr>
            <th scope="col">Sr</th>
            <th scope="col">Item</th>
            <th scope="col">Qty</th>
            <th scope="col">Rate</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of Datalist ; let i = index">
            <th>{{i+1}}</th>
            <td>{{data.item}}</td>
            <td>{{data.qty}}</td>
            <td>{{data.rate}}</td>
            <td><a (click)="edit()"><img src="../assets/pen.svg" /></a></td>
            <td><a (click)="delete(data)"><img src="../assets/trash.svg" /></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row r3"></div>
</div>
